@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root {
  height: 100%;
}

body {
  @apply bg-white text-gray-900 antialiased;
}

.container-max {
  @apply max-w-5xl mx-auto px-4;
}

